<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="isLoggedIn.value">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="" (click)="navigateToHome($event)">
      <p class="h1 cursor-pointer" tooltip="heafe">Tasky</p>
    </a>

    <!-- <p class="h1 cursor-pointer">Tasky</p> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="!isLoggedIn.value">
      <button type="button" (click)="(navigateToLogin)">
        <span class="h3">login</span>
      </button>
      <button type="button" (click)="(navigateToRegister)">
        <span class="h3">signup</span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="isLoggedIn.value"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let navLink of navLinks">
          <a
            class="nav-link {{ navLink.isActive ? 'active' : '' }}"
            href="{{ navLink.navigateTo }}"
            (click)="handleNavigateTo($event, navLink.name)"
            >{{ navLink.name }}</a
          >
        </li>
        <!-- <li class="nav-item" *ngIf="isAdmin()"> -->
        <!--   <a -->
        <!--     class="nav-link active" -->
        <!--     href="/createTask" -->
        <!--     (click)="navigateToCreateTask($event)" -->
        <!--     tooltip="Assign task to employee" -->
        <!--     >CreateTask</a -->
        <!--   > -->
        <!-- </li> -->
        <!-- <li class="nav-item" *ngIf="isAdmin()"> -->
        <!--   <a -->
        <!--     class="nav-link cursor-pointer" -->
        <!--     (click)="navigateToHome($event)" -->
        <!--     tooltip="Assign task to employee" -->
        <!--     >Tasks</a -->
        <!--   > -->
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link">Link</a> -->
        <!-- </li> -->

        <li class="nav-item dropdown" dropdown *ngIf="isLanding()">
          <a
            class="nav-link dropdown-toggle cursor-pointer"
            (click)="$event.preventDefault()"
            role="button"
            dropdownToggle
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            FilterByStatus: {{ this.selectedFilter }}
          </a>

          <ul class="dropdown-menu" *dropdownMenu>
            <li *ngFor="let filter of filters">
              <a
                class="dropdown-item cursor-pointer"
                (click)="handleFilterBy($event, filter)"
                >{{ filter }}</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" dropdown *ngIf="isLanding()">
          <a
            class="nav-link dropdown-toggle cursor-pointer"
            (click)="$event.preventDefault()"
            role="button"
            dropdownToggle
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            sortByAssignedDate: {{ this.selectedSortBy }} First
          </a>

          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a
                class="dropdown-item cursor-pointer"
                (click)="updateSortBy('recent')"
                >Recent First</a
              >
              <a
                class="dropdown-item cursor-pointer"
                (click)="updateSortBy('oldest')"
                >Oldest First</a
              >
            </li>
          </ul>
        </li>

        <li class="{{ renderReset() ? 'nav-item' : 'nav-item hidden' }}">
          <a
            class="nav-link cursor-pointer"
            (click)="reset($event)"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reset
          </a>
        </li>
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        <!-- </li> -->
      </ul>

      <!-- <form class="d-flex" role="search"> -->
      <div *ngIf="isLanding()">
        <input
          class="form-control me-2"
          list="suggestions"
          [(ngModel)]="username"
          [typeahead]="employeeList"
          placeholder="Search Task by {{
            this.role === 'admin' ? 'employee' : 'admin'
          }}"
          aria-label="Search"
          (ngModelChange)="printTitle($event)"
        />
        <!-- <select *ngFor="let employee of employeeList"> -->
        <!--   <option value="{{ employee._id }}">{{ employee.username }}</option> -->
        <!-- </select> -->
        <!-- <datalist id="suggestions" dropdown> -->
        <!--   <option *ngFor="let employee of employeeList"> -->
        <!--     {{ employee.username }} -->
        <!--   </option> -->
        <!-- </datalist> -->
        <!-- <ul id="suggestions" class="dropdown-menu" *dropdownMenu> -->
        <!--   <li *ngFor="let employee of employeeList" class="dropdown-item"> -->
        <!--     {{ employee.username }} -->
        <!--   </li> -->
        <!-- </ul> -->
      </div>

      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      <!-- </form> -->
      <button type="button" class="btn btn-outline-success" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="!isLoggedIn.value">
  <div class="container-fluid d-flex justify-content">
    <div class="">
      <a class="navbar-brand" href="#"><p class="h1">Tasky</p></a>
    </div>
    <div>
      <button type="button" (click)="login()">login</button>
      <button type="button" (click)="signup()">signup</button>
    </div>
  </div>
</nav>
