<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="isLoggedIn">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="" (click)="navigateToHome($event)">
      <p class="h1 cursor-pointer">Tasky</p>
    </a>

    <!-- <p class="h1 cursor-pointer">Tasky</p> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="!isLoggedIn">
      <button type="button" (click)="(navigateToLogin)">
        <span class="h3">login</span>
      </button>
      <button type="button" (click)="(navigateToRegister)">
        <span class="h3">signup</span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="isLoggedIn"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isAdmin()">
          <a
            class="nav-link active"
            href="/createTask"
            (click)="navigateToCreateTask($event)"
            >CreateTask</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="!isLoggedIn">
  <div class="container-fluid d-flex justify-content">
    <div class="">
      <a class="navbar-brand" href="#"><p class="h1">Tasky</p></a>
    </div>
    <div>
      <button type="button" (click)="login()">login</button>
      <button type="button" (click)="signup()">signup</button>
    </div>
  </div>
</nav>
