<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>
    <p class="card-text">
      AssignedBy:

      <a href="#" class="card-link">{{ task.assignedBy }}</a>
    </p>
    <p class="card-text">AssignedOn: {{ task.createdAt }}</p>
    <p class="card-text">Status: {{ task.status }}</p>

    <a
      href="#"
      class="btn btn-primary"
      *ngIf="isAdmin() && this.message !== 'approved'"
      (click)="(handleTask)"
      >{{ getMessage() }}</a
    >

    <a
      href="#"
      class="btn btn-primary disabled"
      *ngIf="isAdmin() && this.task.status === 'approved'"
      (click)="(handleTask)"
      >{{ getMessage() }}</a
    >

    <a
      href="#"
      class="btn btn-primary"
      *ngIf="!isAdmin()"
      (click)="(handleTask)"
      >{{ getMessage() }}</a
    >
    <!-- <app-admin-bottom-buttons *ngIf="isAdmin()"></app-admin-bottom-buttons> -->
    <!-- <app-employee-bottom-buttons -->
    <!--   *ngIf="!isAdmin()" -->
    <!-- ></app-employee-bottom-buttons> -->
  </div>
</div>
