<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>
    <p class="card-text">
      {{ this.role === "admin" ? "AssignedTo: " : "AssignedBy: " }}
      <!---->
      <a href="#" class="card-link">{{ getCardText() }}</a>
    </p>
    <p class="card-text">AssignedOn: {{ task.createdAt }}</p>
    <p>
      Status: <strong>{{ task.status }}</strong>
    </p>

    <a
      href="#"
      class="btn btn-primary"
      *ngIf="isAdmin() && this.message !== 'approved'"
      (click)="handleTask()"
      >{{ getMessage() }}</a
    >

    <a
      href="#"
      class="btn btn-primary disabled"
      *ngIf="isAdmin() && this.task.status === 'approved'"
      (click)="handleTask()"
      >{{ getMessage() }}</a
    >

    <a
      href="#"
      class="btn btn-primary"
      *ngIf="!isAdmin() && this.task.status !== 'approved'"
      (click)="handleTask()"
      >{{ getMessage() }}</a
    >
    <a
      href="#"
      class="btn btn-primary disabled"
      *ngIf="!isAdmin() && this.task.status === 'approved'"
      (click)="handleTask()"
      >{{ getMessage() }}</a
    >
  </div>
</div>
