<div class="w-75" id="login">
  <form [formGroup]="loginFrom" (submit)="login()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="email"
        autoFocus
        id="username"
        class="form-control"
        placeholder="Enter email"
        formControlName="username"
      />
      <label class="form-label" for="username">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
        id="password"
        class="form-control"
      />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">login</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!" (click)="setPageRender()">Register</a></p>
    </div>
  </form>
</div>
