<div class="modal-header">
  <h4 class="modal-title pull-left">Confirmation</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="this.bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="h3">Do you want to delete task?</div>
</div>
<div class="modal-footer">
  <ng-container>
    <div class="contain-fluid d-flex flex-row-reverse">
      <div class="button-container">
        <button class="btn btn-danger btn-sm" (click)="delete()">yes</button>
      </div>
      <div class="button-container">
        <button class="btn btn-danger btn-sm" (click)="cancel()">no</button>
      </div>
    </div>
  </ng-container>
</div>
